.section {
  padding: 50px 0;
  text-align: center;

  .section-img {
    margin-bottom: 50px;
  }

  .section-category {
    @include text-style(p, $primary);
    display: block;
    margin-bottom: 18px;
  }

  .section-title {
    margin: 0 auto 18px;
    color: $black;

    span {
      color: $point;
    }
  }

  p {
    @include text-style(p, $primary);
    display: block;
    width: 100%;
    max-width: 323px;
    margin: 0 auto 25px;
  }

  .btn-rect {
    width: 150px;
    margin: 0 auto 50px;
  }

  @include responsive(T) {
    text-align: left;

    .section-category {
      margin-bottom: 18px;
    }

    .section-title {
      margin: 0 0 18px;
    }

    p {
      max-width: 332px;
      margin: 0 0 25px;
    }

    .btn-rect {
      margin: 0;
    }
  }

  @include responsive(D) {
    .section-category {
      margin-bottom: 25px;
    }

    p {
      max-width: 569px;

      & + p {
        margin: 0 0 50px;
      }
    }
  }
}
