.about-us {
  .about-img {
    width: 100%;
    height: 192px;
    background-image: url('https://github.com/gnthse/digiency/blob/main/assets/image/about-us.png?raw=true');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .section-title {
    @include text-style(h4);
  }

  .btn-rect {
    width: 152px;
    margin-bottom: 50px;
  }

  .row:last-child .col-sm-4 {
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include responsive(T) {
    padding: 120px 0;

    .row {
      align-items: center;
    }

    .about-img {
      margin-bottom: 0;
    }

    .section-title {
      @include text-style(h3);
    }

    .btn-rect {
      margin: 0 0 84px;
    }

    .row:last-child .col-sm-4 {
      margin-bottom: 0;
    }
  }

  @include responsive(D) {
    .row {
      align-items: flex-end;
    }

    .about-img {
      height: 352px;
      margin-bottom: 50px;
    }

    .section-title {
      @include text-style(h2);
    }
  }
}
