$line-height: 123.6%;
$letter-spacing: 0;

$font-size-h1: 48px;
$font-weight-h1: 700;

$font-size-h2: 39.06px;
$font-weight-h2: 600;

$font-size-h3: 31.25px;
$font-weight-h3: 600;

$font-size-h4: 25px;
$font-weight-h4: 500;

$font-size-h5: 20px;
$font-weight-h5: 500;

$font-size-p: 16px;
$line-height-p: 150.6%;
$font-weight-p: 400;

$font-size-h7: 12.8px;
$font-weight-h7: 400;
